<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ombe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:replace="android:label">
        <activity
            android:name=".ChangeAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DetailOrderAcceptActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DetailUserActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.DetaiProActivity"
            android:exported="false" />
        <activity
            android:name=".MainadminActivity"
            android:exported="false" />
        <activity
            android:name=".DeliverActivity"
            android:exported="false" />
        <activity
            android:name=".EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessOrderActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AllProductActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StartScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashViewActivity"
            android:exported="true"
            android:label="Ombe"
            android:theme="@style/Theme.FinalProject.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>